<div id="dupla">
  <div class="fundo">
    <div class="card">
      <img src="../assets/matheuzinho.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matheus Camargo</h5>
        <p class="card-text">Idade: 17 anos (26/03/2007)<br>Música Favorita: Lost in Paradox<br>Cor Favorita: Azul<br>Turma: 3ºBI</p>
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://github.com/ZetzGold"><button type="button" class="btn btn-outline-secondary"><img src="../../assets/github.svg" class="icone">Github</button></a>
        <a href="https://www.instagram.com/_z.gld/"><button type="button" class="btn btn-outline-danger"><img src="../../assets/instagram.svg" class="icone">Instagram</button></a>
        <a href="https://twitter.com/zgld_"><button type="button" class="btn btn-outline-info"><img src="../../assets/twitter-x.svg" class="icone">Twitter</button></a>
      </ul>
      <p class="RM">RM:221019</p>
    </div>
  </div>
  <div class="fundo2">
    <div class="card cd2">
      <img src="../assets/enzinho.png" class="card-img-top img2" alt="...">
      <div class="card-body">
        <h5 class="card-title">Enzo Enrico</h5>
        <p class="card-text">Idade: 17 anos (12/12/2006)<br>Música Favorita: Redbone<br>Cor Favorita: Roxo<br>Turma: 3ºBI</p>
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://github.com/Enzin-png"><button type="button" class="btn btn-outline-secondary"><img src="../../assets/github.svg" class="icone">Github</button></a>
        <a href="https://www.instagram.com/lnox12/"><button type="button" class="btn btn-outline-danger"><img src="../../assets/instagram.svg" class="icone">Instagram</button></a>
        <a href="https://twitter.com/Chulepaf"><button type="button" class="btn btn-outline-info"><img src="../../assets/twitter-x.svg" class="icone">Twitter</button></a>
      </ul>
      <p class="RM">RM:221673</p>
    </div>
  </div>
</div>
