<div id="corpo">
  <div id="cabecario">
    <img src="../../assets/logotipo-semfundo.png" id="logo">
    <ul id="lista_header">
      <li>Página Inicial<div class="linha"></div></li>
      <li>Página de Compra<div class="linha"></div></li>
      <li>Benefícios<div class="linha"></div></li>
      <li>Sobre Nós<div class="linha"></div></li>
      <li>Cadastro</li>
    </ul>

  </div>
  <div id="espaco_botao"><button class="botao" id="cadastro_botao" (click)="alternarCadastro()">Alternar Forma de Cadastro</button></div>
  <div id="conteudo">
    <div id="cadastro">
      <p class="titulo_dados">Cadastro</p>
      <form class="example-form" [formGroup]="cadastroForm" (ngSubmit)="onEnviar()">

        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Enzo Enrico" formControlName="nome">

            <mat-error *ngIf="cadastroForm.controls.nome.hasError('required')">Nome é obrigatório</mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Ex. horacio@gmail.com" formControlName="email">

            <mat-error *ngIf="cadastroForm.controls.email.hasError('required')">E-mail é obrigatório</mat-error>
            <mat-error *ngIf="cadastroForm.controls.email.hasError('email')">E-mail inválido</mat-error>

        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex. 856.853.020-61" formControlName="cpf">

            <mat-error *ngIf="cadastroForm.controls.cpf.hasError('required')">CPF é obrigatório</mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="senha">
            <button mat-icon-button matSuffix (click)="ocultarSenha = !ocultarSenha" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="ocultarSenha">
              <mat-icon>{{ocultarSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="cadastroForm.controls.senha.hasError('required')">Senha é obrigatória</mat-error>
            <mat-error *ngIf="cadastroForm.controls.senha.hasError('minlength')">A senha deve ter mais de 2 caracteres</mat-error>
            <mat-error *ngIf="cadastroForm.controls.senha.hasError('maxlength')">A senha deve ter menos de 17 caracteres</mat-error>

          </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Confirmar senha</mat-label>
            <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="confirmarSenha">
            <button mat-icon-button matSuffix (click)="ocultarSenha = !ocultarSenha" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="ocultarSenha">
              <mat-icon>{{ocultarSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="false">Confirmar senha é obrigatório</mat-error>
            <mat-error *ngIf="false">As senhas devem ser as mesmas</mat-error>

          </mat-form-field>


        <button class="botao">Confirmar</button>

      </form>
    </div>
    <div id="login">
      <p class="titulo_dados">Login</p>
      <form class="example-form" [formGroup]="cadastroForm" (ngSubmit)="onEnviar()">

        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Ex. horacio@gmail.com" formControlName="email">

            <mat-error *ngIf="cadastroForm.controls.email.hasError('required')">E-mail é obrigatório</mat-error>
            <mat-error *ngIf="cadastroForm.controls.email.hasError('email')">E-mail inválido</mat-error>

        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="senha">
            <button mat-icon-button matSuffix (click)="ocultarSenha = !ocultarSenha" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="ocultarSenha">
              <mat-icon>{{ocultarSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="cadastroForm.controls.senha.hasError('required')">Senha é obrigatório</mat-error>
            <mat-error *ngIf="cadastroForm.controls.senha.hasError('minLength(2)')">A senha deve ter mais de 2 caracteres</mat-error>
            <mat-error *ngIf="cadastroForm.controls.senha.hasError('maxLength(17)')">A senha deve ter menos de 17 caracteres</mat-error>

          </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Confirmar senha</mat-label>
            <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="confirmarSenha">
            <button mat-icon-button matSuffix (click)="ocultarSenha = !ocultarSenha" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="ocultarSenha">
              <mat-icon>{{ocultarSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="false">Confirmar senha é obrigatório</mat-error>
            <mat-error *ngIf="cadastroForm.controls.confirmarSenha.hasError('verificarSenhas')">As senhas devem ser iguais</mat-error>

          </mat-form-field>


        <button class="botao">Confirmar</button>

      </form>
    </div>
    <div id='{{css}}'>
      <img src="../../assets/logotipo.png" id="logotipo">
      <div id="ideia">
        <p class="ideia_txt">Pulseira de Monitoramento</p><br><br>
        <p class="ideia_txt">de Dados Vitais</p>
      </div>
      <div id="info">
        <p class="texto_txt">Grupo 01</p><br><br>
        <p class="texto_txt">3ºBI</p>
      </div>
    </div>
  </div>
  <div id="rodape">
    <div class="info">
      <h1>Matheus Camargo - 221019</h1>
      <a href="https://github.com/ZetzGold"><button type="button" class="btn btn-outline-secondary"><img src="../assets/github.svg" class="icone">Github</button></a>
      <a href="https://www.instagram.com/_z.gld/"><button type="button" class="btn btn-outline-danger"><img src="../assets/instagram.svg" class="icone">Instagram</button></a>
      <a href="https://twitter.com/zgld_"><button type="button" class="btn btn-outline-info"><img src="../assets/twitter-x.svg" class="icone">Twitter</button></a>
    </div>
    <div id="linha_vertical"></div>
    <div class="info">
      <h1>Enzo Enrico - 221673</h1>
      <a href="https://github.com/Enzin-png"><button type="button" class="btn btn-outline-secondary"><img src="../assets/github.svg" class="icone">Github</button></a>
      <a href="https://www.instagram.com/lnox12/"><button type="button" class="btn btn-outline-danger"><img src="../assets/instagram.svg" class="icone">Instagram</button></a>
      <a href="https://twitter.com/Chulepaf"><button type="button" class="btn btn-outline-info"><img src="../assets/twitter-x.svg" class="icone">Twitter</button></a>
    </div>
  </div>
  <div id="alerta" class="{{visivel}}">
    <img id="simbolo_certo" src="../../assets/certo_azul.png">
    <p>Cadastro Realizado!</p>
  </div>
  <div id="alerta" class="{{erro_visivel}}">
    <img id="simbolo_certo" src="../../assets/errado_vermelho.png">
    <p>Confirme sua Senha corretamente!</p>
  </div>
</div>
